body{
  font-family: 'Manrope', sans-serif;
  background-color: hsl(218, 23%, 16%);
}
.main-body-container{
  /* background-color: yellow; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-container{
  background-color: hsl(217, 19%, 38%);
  background-color: hsl(217, 19%, 24%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 35px 35px 0 35px;
  border-radius: 20px;
  max-width: 375px;
  text-align: center;
  color: rgb(228, 235, 247);
}
p{
  font-size: 20px;
}
h1{
margin: 0;
color: hsl(150, 100%, 66%);
text-transform: uppercase;
font-size: 1em;
}
.decorative-line{
  width: 100%;
}
.dice-button{
  padding: 10px;
  /* margin: 30px; */
  border-radius: 50%;
  border: none;
  position: relative;
  transform: translateY(25px);
  cursor: pointer;
  background-color: hsl(150, 100%, 66%) ;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  transition: all 100ms;
}
.dice-button:hover{
  box-shadow: hsl(150, 100%, 66%) 0px 7px 29px 0px;
  
}
.dice-button:active{
  
}
.dice-image{
  padding: 7px;
  width: 20px;
  transition: all 100ms;

}
.dice-image:active{
  width: 15px;
}
@media only screen and (max-width: 475px){
	/*Small smartphones [325px -> 425px]*/
  body{
    
  }
  h1{
    font-size: 1.5em;
  }
  p{
    font-size: 2rem;
  }
  .dice-image{
    width: 30px;
  }
  .inner-container{
    margin: 20px;
  }
}